<html>

<head>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id= "mainContainer">
	<div id="header">

		<h1></h1>
		<div id="nav">
			<!-- <a href="http://www.google.com">Home</a>
			<a href="#">Portfolio</a> -->
	</div>
	</div>
	<div id="body_content">
			<br>
			Hewn the from carcass of an oak tree and tempered in the fires of Vesuvius, Zack Adams breaks new creative ground apparently just by existing. One day, he saw a log crackling aflame. He made it into pop music. He gathered mountains into rock music. Entire cultures he birthed into folk music. </br>
			<a href="/">home<alt="Home"></a>

<!-- 			<p>This site uses the <a href="http://wiki.open311.org/Inquiry_v1">NYC 311 API</a> to pull a list of all public pools in New York City. The fields returned in the API include the facility id, name, expiration date and a brief description of the facility. It does not provide geolocation data, but there is another service available in the API that provides geolocation when you input the facility's id.</p>
		<h4>WHERE TO HAVE YOUR NEXT POOL PARTY</h4>

			<li>Chelsea Pool</li>
			<li>Tompkins Square Pool</li>
			<li>Bushwick Pool</li>
 -->		
	</div>
	</body>
<!-- 	<div id="footer">
		<a href="http://www1.nyc.gov/portal/apps/311_contentapi/facilities/Pool.json">JSON Data</a>
	</div>

 -->	





</html>