<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<title>Zack Adams</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52630733-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id= "mainContainer">
		<div id="body_content">
			<div class="text">
				<span class="aa">Hewn from the carcass of an oak tree and tempered in the fires of Vesuvius, songwriter Zack Adams breaks new creative ground daily, apparently just by existing. One day, he saw a log in a hearth, crackling alight. He made that into pop music. He gathered mountains into rock music. Entire cultures he birthed into folk music. His lyrical flow came from the oceans of Jupiter's moon, Europa. The relationship between his mother, Scheherazad, and his father, Orpheus, was a scandal. Young Zack was abandoned in the Wilderness and raised by coyote and platypus. It was the creatures of the wild that shaped his prodigious talent into the modern sounds now common to Western music. Guitars' knees go weak at a mere glance. His touch liquifies them. A strum and they are resolved to a singularity that swallows all and nothing. He'll be playing a toilet near you.</span> 

				<span class="bb">In my early years, I maintained a casual relationship with music: first as a piano student, then a choir boy, later a jazz-obsessed saxophone player. I fell for rock and roll during my adolescence and became a student of rock, from its roots in the blues, country, and folk traditions to the more current iterations. I was fascinated by how each artist picked up elements from those who came before and combined them in new ways or reacted to them, adding to the richness and complexity of the global musical tapestry; each new artist stands on the shoulders of giants. As an adult, I realized I wanted to stand there too, to see farther and to weave my stories into the fabric. My giants are folkies, greasers, punks, and arena rockers. They’re searching for a way to connect and clambering for a better world and trying to keep soul alive. It is a fool’s errand to try to properly represent my music with text; best just to <a href="/music">listen</a>.</span>
			
				<p> <a href="/">home<alt="Home"></a> </p>
			</div>
			</div>
		</div>
	</div>
</body>
</html>