<html>

<head>
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<script src="js/soundcloud.js"></script>
	<title>Zack Adams</title>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52630733-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="mainContainer">
		<div id="body_content">
			<div class="soundCloud">
				<iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/42652816&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe> 
			</div>

			<div class="left">
				<div class="text">
					<div class="endTimes">
						<span style="text-decoration:underline; color:#ef7145">End Times</span>

						<p>
							You don’t want me to go out today
							<br>They say the sky is to fall today
							<br>What is it you want me to say
							<br>I don’t believe in it anyway
						</p>

						<p>
							Everything’s gonna be just fine
							<br>Lemme just give you some peace of mind
							<br>Do return it to me in kind
							<br>I don’t believe in your end times</p>

						<p>
							Nevermind that the waves that are crashing
							<br>Nevermind the explosions flashing
							<br>Nevermind that the earth is shaking
							<br>Nevermind the rules keep breaking</p>

						<p>
							I’m here to tell you it’s just a trend
							<br>It doesn’t mean that this is the end
							<br>We’ve got the finest in air defense
							<br>So go ahead and pay next month’s rent</p>

						<p>
							Pay no mind to the warning signs
							<br>Come inside and just shut the blinds
							<br>It’ll all be over in time</p>

						<p>
							Nevermind that the waves that are crashing
							<br>Nevermind the explosions flashing
							<br>Nevermind that the earth is shaking
							<br>Nevermind the rules keep breaking</p>

						<p>
							What was the last thing you said to me?
							<br>Take what’s beautiful, made it bleed
							<br>You pulled the rug out from under me
							<br>Did you see something I didn’t see?</p>
					</div>

					<div class="justStrumOn">
						<span style="text-decoration:underline; color:#ef7145">Just Strum On</span>

						<p>I’m looking around, chasing a sound, babe it’s a sigh from you
						<br>Driving around, hey let's skip town, wipe off those baby blues
						<br>We hit a dead end, no time to pretend we've got nothing left to lose 
						<br>I hear your voice to bend, as if through a lens, sounds of a different hue</p>

						<p>Oh, this thread that I stand on
						<br>My whole world shakes and you just strum on</p>
						 
						<p>Give me a smile hey once in while girl just leave me a clue
						<br>Hey baby child, your hand's on the dial, tune me to what to do
						<br>My eyes are cast down, I polished your crown, just giving the queen her due 
						<br>Come into town, call off your hounds, we’re gonna make it through</p>

						<p>Oh, this thread that I stand on
						<br>My whole world shakes and you just strum on</p>
					</div>

					<div class="sayItIsntSo">
			 		<span style="text-decoration:underline; color:#ef7145">Say It Isn’t So</span>

					<p>
						Oh honey child
						<br>I know you got to go
						<br>I know you got to go
						<br>Just say it isn’t so
					</p>
					<p>
						You’ve been running wild
						<br>And I’ve been running slow
						<br>I know you’ve got to go
						<br>Just say it isn’t so

					<p>
						I love your style
						<br>And girl I love your soul
						<br>I know you’ve got to go
						<br>Just say it isn’t so 
					</p>
						
					<p>
						Oh baby tell me why
						<br>Tell me why these seeds I sow
						<br>Oh baby tell me why
						<br>Tell me why do they not grow?
					</p>
					<p>
						I love your smile
						<br>It turns lead into gold
						<br>I know you’ve got to go
						<br>Just say it isn’t so
					</p>
					</div>
					
					<div class="aLittleMorelight">
						<span style="text-decoration:underline; color:#ef7145">A Little More Light</span>

						<p>Give me a name and a face I can blame
						<br>Give me a past from the pieces you put in a frame
						</p>

						<p>Follow the threads and collect all the clues
						<br>Building a monster to put up in a noose</p>

						<p>A little more light now
						<br>A little more light now</p>

						<p>Now dig through the snow
						<br>Til you see the sunlight glow
						<br>Fly through the sky
						<br>Til the day becomes the night</p>

						<p>Bottle the anger and hold back the rage
						<br>Pinpoint the problem, examine the day, and the age</p>

						<p>Call a commission and call up the judge
						<br>Call up the king on the phone just to get him to budge</p>
					</div>

					<div class="safehouse">
						<span style="text-decoration:underline; color:#ef7145">Safehouse</span>

						<p>Well they chased me through them county roads
						<br>Well they chased me away from my home
						<br>I don’t know where I’m gonna go
						<br>Find me a sweet piece of land in the snow
						<br>Find me a mansion where the steps are lined in gold
						<br>I don’t know where I’m gonna go
						<br>I don’t know where I’m gonna go</p>

						<p>I’m on the lam, I’m in a jam
						<br>I feel their footsteps if you give a damn</p>

						<p>Find me a cabin where the river bows
						<br>Find me a shack where the kudzu grows
						<br>I don’t know where I’m gonna go
						<br>You could give me an old cargo hold
						<br>I’d take a box just to block the cold
						<br>I don’t know where I’m gonna go
						<br>I don’t know where I’m gonna go</p>

						<p>Your face I see, you don’t believe
						<br>Some starless night they’re coming after me
						<br>I know it’s real, they’re on my heels,
						<br>I don’t know where I’ll go</p>

						<p>You can chase me down the rabbit hole
						<br>I’ll find me a nest among the crows
						<br>I don’t know where I’m gonna go
						<br>I don’t know where I’m gonna go</p>
					</div>

					<div class="devil">
						<span style="text-decoration:underline; color:#ef7145">Devil Came On Horseback</span>
					
						<p>	I always win
							<br>Unlock the door and let me in
							<br>Learn to sin
							<br>Take the money with a grin</p>

						<p>	Trip the wire
							<br>See my form inside the fire
							<br>Now who’s the liar
							<br>I just give what you desire</p>

						<p>	The Devil came on horseback
							<br>Now you just want your world back</p>

						<p>	Take the cup
							<br>I’ll make sure you drink it up
							<br>You’ve had enough
							<br>But you believe your will is tough</p>

						<p>	Play the game
							<br>I’ll turn your sighs to hurricanes
							<br>Sign your name
							<br>Your life will never be the same</p>

						<p>	The Devil came on horseback
							<br>Now you just want your world back</p>
					</div>

					<div class="theCell">
						<span style="text-decoration:underline; color:#ef7145">The Cell</span>

						<p>	The full moon
							<br>The howls begin soon
							<br>A beacon from your door
							<br>Safe harbor at the shore
							<br>Over the dunes</p>
							 
						<p>	You took me in
							<br>Covered my ears for the din
							<br>You took me by the hand
							<br>You taught me how to stand
							<br>What was your sin?</p>
							 
						<p>	I hear the shore
							<br>But I don’t smile anymore
							<br>With every crashing wave
							<br>You force me to behave
							<br>Down to my core</p>
							 
						<p>	My muscles tense
							<br>My ears ring from the silence
							<br>My hands locked to the wall
							<br>Does no one hear my call?
							<br>Over that fence</p>
							 
						<p>	I want to leave
							<br>I know my family misses me
							<br>You tell me I’m not well
							<br>You keep me in this cell
							<br>Here by the sea</p>
					</div>

					<div class="driveOnBack">
						<span style="text-decoration:underline; color:#ef7145">Drive On Back To Me</span>

						<p>	Get in your car
							<br>And drive on back to me
							<br>Get in your car
							<br>Drive on back to me</p>

						<p>	Me duele mon coeur
							<br>When you I cannot see
							<br>Get in your car
							<br>Drive on back to me</p>

						<p>	The mountain’s high
							<br>The sea is mighty deep
							<br>Get in your car
							<br>Drive on back to me</p>

						<p>	I’ll crush those mountains into sand
							<br>I’ll melt it into a glass cup
							<br>Use it to scoop the sea up
							<br>All so you can</p>

						<p>	Get in your car
							<br>And drive on back to me
							<br>Get in your car
							<br>Drive on back to me</p>
					</div>

					<div class="downHereNow">
						<span style="text-decoration:underline; color:#ef7145">Down Here Now</span>

						<p>	I feel that angry sun on me
							<br>And how it cuts right through the breeze
							<br>Oh the dust hangs in the air like a hazy dream</p>

						<p>	I know the rains are coming
							<br>I know the rains are coming
							<br>Down here now</p>

						<p>	I saw her standing on the wind
							<br>She fades just as the sun goes dim
							<br>They say if y'ain't got love, then all you have is sin</p>

						<p>	Some folks feel it in their bones
							<br>Some folks hear the treetops moan
							<br>But me I see an old man there standing all alone</p>

						<p>	I know the rains are coming
							<br>I know the rains are coming
							<br>Down here now</p>
					</div>

					<div class="man">
						<span style="text-decoration:underline; color:#ef7145">The Man Who Stands Ten Feet Tall</span>

						<p>	When it comes to money, I ain’t got a lot
							<br>I ain’t no doctor, ain’t no astronaut
							<br>Babydoll
							<br>But baby that’s not all
							<br>I got the heart of a man who stands ten feet tall</p>

						<p>	I got no car, I hope my bike will do
							<br>I put an extra seat on just for you
							<br>Babydoll
							<br>But baby that’s not all
							<br>I got the heart of a man who stands ten feet tall</p>

						<p>	It’s alright if you have your doubts
							<br>But that’s what leaps of faith are all about
							<br>Take the leap babe don’t worry about the fall
							<br>That’s what you get from a man who stands ten feet tall</p>

						<p>	My clothes are worn and my shoes have holes
							<br>But I’ve got some prospects and financial goals
							<br>Babydoll
							<br>But baby that’s not all
							<br>I’ve got the heart of a man who stands ten feet tall </p>
					</div>

<!-- 					<div class="screens">
						<span style="text-decoration:underline; color:#ef7145">Screens</span>

						<p>I met her on the silver screen
						<br>The ending had me feeling green alright</p>

						<p>The credits rolled, the lights come up
						<br>I grab my trash and throw my cup away</p>

						<p>Step back into the light
						<br>Step back into your life</p>

						<p>I tune the television now
						<br>Can’t find nothin to watch somehow dear lord</p>

						<p>But there she is with some award
						<br>In some dress that I cannot afford</p>

						<p>Step back into the light
						<br>Step back into your life</p>

						<p>Two dimensions doesn’t feel
						<br>quite right I wanna make it real tonight</p>

						<p>She is everywhere I look
						<br>In the waiter, the host, the cook my god</p>

						<p>I search for her on my phone
						<br>I see her when I close my eyes alone</p>

						<p>Step back into the light
						<br>Step back into your life</p>
					</div>
 -->
				</div>
			</div>
		</div>	
	</div>
</body>
</html>


